body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    background-color: tomato;
    padding: 12px;
    margin: 5%;
    border-radius: 20%;
}

p {
    background: white;
    color: black;
    padding: 20px;
    margin: 5%;
}

h2 {
    color: white;
    background-color: tomato;
    padding: 12px;
    margin: 5%;
    border-radius: 20%;
}